input:focus, textarea:focus {
    background-color: rgb(33, 182, 232);
    outline: none;
}
button:hover {
    background-color: rgb(179, 177, 240);
}
button:active {
    background-color: rgb(21, 14, 232);
}

input[type="text"], 
input[type="password"],
input[type="email"], 
select, 
textarea { width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #f0d1a2;
    border-radius: 4px;
    box-sizing: border-box;
}

